*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red{
    background-color: red;
    height: 100px;
    text-align: center;
    align-items: center;
}
.green{
    background-color: green;
    height: 50px;
    text-align: center;
    align-items: center;
}
.blue{
    background-color: blue;
    height: 500px;
    text-align: center;
    align-items: center;
}
.yellow{
    background-color: yellow;
    height: 500px;
    text-align: center;
    align-items: center;
}
.purple{
    background-color: purple;
    height: 500px;
    text-align: center;
    align-items: center;
}
.video1{
    height: 200px;
    background-color: seashell;
    margin-bottom: 30px;
}